.p1{
	height: 170px;
	width: 80%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.p2{
	margin-left: 200px;
	margin-top: 40px;
}
.p3{
	height: 20px;
	width: 2px;
	background-color: blue;
	margin-left: 290px;
	margin-top: -18px;
}